html{
    font-size:10px;
}
P{
    font-size:1.6rem;
}

h1{
    font-family:'billabong';
    font-size:13rem;
    font-weight:100;
    text-align:center;
    letter-spacing: -1px;
    margin: 2rem 0 0
}

@font-face {
    font-family: 'billabong';
    src: url('http://fonts.cdnfonts.com/css/billabong');
}

.photo-grid{
    max-width: 1000px;
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;

}
.figure{
    border:1px solid #d3d3d3;
    padding:2rem;
    margin: 0 2rem 2rem 2rem;
    flex-basis:calc(33.33% - 4rem);
    flex-grow: 1;
}
.photo{
    width:calc(100% + 4rem);
    margin:-2rem  0rem 0rem -2rem

}
.btn-container{
display:flex;
justify-content: center;
}

button{
flex: basis 48%;
color:red;
font-size:15px;
border:2px solid #f2f2f2;
line-height: 2;
}
.btn-container button:hover{
    border:2px solid rgb(172,216,230); 
}

.add-btn-container{
    display:flex;
    justify-content: center;
    margin:0rem 0 4rem;
}
.add-btn{
    background-image: url("circle-plus-solid.svg");
    height:60px;
    width:60px;
    border:none;
    background-color:white;
}
.form{
    /* display:flex;
    flex-direction: column;
    align-items: center; */

    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;

}

.form input{
    background-color: #f2f2f2;
    width:100%;
    font-family: sans-serif;
    font-size: 14px;
    padding:15px;
    border:none;
    margin: 0 0 15px;
    box-sizing:border-box;

}
.form button{
    font-family: sans-serif;
    background-color: #065784;
    width: 100%;
    border: none;
    padding:15px;
    color:white;
    font-size:14px;
    cursor: pointer;
}

.form button:hover{
    background-color: #7B8589;
}